.gallery {
  height: 100vh;
  display: flex; }
  .gallery ul > li {
    list-style: none;
    display: inline; }
  .gallery .smallPicSection {
    padding-top: 6vh; }
  .gallery .smallPic {
    height: 200px;
    width: 200px; }
  .gallery .bigPicSection {
    padding-top: 6vh; }
  .gallery #bigImg {
    height: 600px;
    width: auto; }
