.gallery {
  height: 100vh;
  display: flex; }
  .gallery ul > li {
    list-style: none;
    display: inline; }
  .gallery .smallPicSection {
    height: 600px; }
  .gallery .smallPic {
    height: 200px;
    width: 200px; }
  .gallery .bigPicSection {
    height: 600px; }
  .gallery #bigImg {
    margin: 0 auto;
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 600px;
    padding-left: 2vw;
    position: relative;
    top: 5vh; }
