@import "vars.scss";

.gallery {
  height: 100vh;
  display: flex;


  ul > li {
    list-style: none;
    display: inline;
  }

.smallPicSection {
  height: 600px;
}
  .smallPic {
    height: 200px;
    width: 200px;
  }

  .bigPicSection {
    height: 600px;
    
    
  }

  #bigImg {
    margin: 0 auto;
    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 600px;
    padding-left: 2vw;
    position: relative;
    top: 5vh;
  }
}