@import "vars.scss";
.top {
   height: 100vh;
   width: 100%;

  img {
    display: block;
    margin: auto;
    height: auto;
    width: 300px;

    padding-top: 5%;

  }

  p {
    text-align: center;
    font-family: $bitter;

    padding: 100px 0;
  }

  a {
    font-weight: bold;
  }

}